<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>


<h2>Room Info</h2>
<% if (@guest.room_id > 0) %>
	<p>
		<strong> name:</strong>
		<%= @guest.room.name %>
	</p>

	<p>
		<strong> address:</strong>
		<%= @guest.room.address %>
	</p>
	<p>
		<strong> number: </strong>
		<%= @guest.room.id %>
	</p>
<% else %>
	<p>
		no room assigned
	</p>
<% end %>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>

