<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<h2>Guest</h2>
<% @room.guests.each do |guest| %>
	<p>
		<strong>Name:</strong>
		<%= guest.name %>
	</p>
	<p>
		<strong>Email:</strong>
		<%= guest.email %>
	</p>
<% end %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
